body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.column {
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
}



h1 {
    font-size: 3rem;
    color: #312614;
    text-align: center;
}

h1 span {
    color: #B7832F;
}

h2 {
    font-size: 1.5rem;
    color: #707070;
}

p {
    margin-top: 0;
}

img {
    max-width: 100%;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.col-bg {
    background-color: #312614;
    color: #fff;
    padding: 1em;
    width: 25%;
}

@media (max-width: 600px) {
    .column {
        display: flex;
        flex-direction: column;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-bg {
        width: 100%;
    }
}