body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, darkgreen, green);
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    padding-top: 2em;
    padding-bottom: 1em;
}

p {
    font-size: larger;
}

#message-el {
    font-style: italic;
}

#startButton,
#drawCardButton {
    margin-top: 0.5em;
    padding: 0.5em 2em;
    background-color: goldenrod;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    color: darkgreen;
    border: none;
}

#drawCardButton {
    visibility: hidden;
}